@keyframes list-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform:translateX(0);
    }
}

@keyframes list-out {
    0% {
        transform:translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes tooltip-in {
    0% {
        display:block;
        opacity:0;
    }
    100% {
        display:block;
        opacity:1;
    }
}

@keyframes tooltip-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        display:none;
    }
}

@keyframes game-con {
    0% {
        transform:translateX(-10%);
    }
    100% {
        transform:translateX(0);
    }
}

@keyframes game-desc {
    0% {
        opacity:0.1;
    }
    100% {
        opacity: 1;
    }
}

.tooltip-in {
    animation: tooltip-in 0.5s forwards;
}

.tooltip-out {
    animation: tooltip-out 0.5s forwards;
}

.genre-btn {
    transition:all 0.5s;
    background-color: #656b66 !important;
}