.sidebar-list {
    position:absolute;
    width:9.7vw;
    max-width:9.7vw !important;
    float:left;
    height:41vw;
    padding: 0 !important;
    border-top:1px solid #2b2a33;
}
.sidebar-listitem {
    padding: 0;
    width:100%;
    height:40px;
    border-bottom: 1px solid #2b2a33;
    border-right: 1px solid #2b2a33;
    color: white;
    
}
.sidebar-listitem:hover {
    background-color: #2b2a33;
}

.sidebar-text {
    font-size: 13px !important;
}