.flicon {
    background-color: #1c1b22;
    border:1px solid #2b2a33;
    width:3%;
    height:25px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:15px;
    display:flex;
    justify-content: center;
    border-radius: 20px;
    cursor:pointer;
}

.flicon:hover {
    background-color: #2b2a33;
}

.userprofile {
    width:10%;
    padding-left:5px;
    border:1px solid #2b2a33;
    height:50%;
    margin-top:auto;
    margin-bottom:auto;
}

.userimg {
    height:100%;
}