body {
  margin: 0;
  font-family:"Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color:#e2e7f0;
  transition:all 0.15s;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:#e2e7f0;
  transition: all 0.15s;
  &:hover {
      color:#909090;
  }
}

@keyframes list-in {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform:translateX(0);
  }
}

@keyframes list-out {
  0% {
      transform:translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}